---
layout: default
---

<div class="posts container">
	
	<div class="row nopadding">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
			
			<!-- STAGE -->
			<div  id="myStage"></div>

			<!-- NAV -->
			<div class="wrapper-masthead">
		        {% include nav.html %} 
		    </div>
		    <div class="clearfix"></div>

			<!-- vert extension stage
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 nopadding">
				<div class="wrapper">
				    <div class="content nopadding">    
				    </div>
		  		</div>
		  	</div>
		  	 -->
		</div>  
	</div>
	<div class="clearfix"></div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 nopadding">
	
		<!-- ARTICLE WALL -->
		<div class="row nopadding">
			{% for post in site.posts %}
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 nopadding">	
					<div class="wrapper imgWrap">
						<a href="{{ site.baseurl }}{{ post.url }}">
							<div class="content" style="background-image:url({{ post.imageTease }}); background-size:contain; background-position:center; background-repeat:no-repeat"> <!---->
								<div class="VertAlignTypeWrapper">
									<div class="imgDescription VertAlignTypeInner">
									    
									    <article class="post">
									    	<h3 class="titleOutline">{{ post.title }}</h3>
									    	<!--<div class="entry">
									      		{{ post.excerpt }} 
									    	</div>-->
									    </article>

									</div>
								</div>
						    </div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="clearfix"></div>

	</div>
</div>

<!-- load p5-sketch only for index -->
<script language="javascript" type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/sketch.js"></script>


