<!-- FOOTER START-->
<footer class="footer">
	
	<div class="container">
		<div class="row nopadding">

			<!-- vert extension stage -->
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 nopadding">
				<div class="wrapper">
				    <div class="content nopadding">    
				    </div>
		  		</div>
		  	</div>
		  	<div class="clearfix"></div>

			<!-- Email -->
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 nopadding">  
		    	<div class="wrapper">
		    		<a href="mailto:{{ site.footer-links.email }}">
			    		<div class="content centerTargetTxt nopadding btnMailContent">
			    			<span>
				              <h3 class="mail-label">
				                <span style="line-height:0.8em;">
				                  MA<br>IL
				                </span>
				              </h3>
				            </span>
			    		</div>
					</a>
		    		<!--
		    		{% if site.footer-links.email %}
		    		<a href="mailto:{{ site.footer-links.email }}">
			        	<div class="content nopadding">
			        		<i class="svg-icon email vertCenter "></i>
			        	</div>
		        	</a>
		        	{% endif %}
		        	-->

		        </div>
		    </div>

		    <!-- Github -->
		    <!--
		    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 nopadding">  
		    	<div class="wrapper">
		    		{% if site.footer-links.github %}
		    		<a href="https://github.com/{{ site.footer-links.github }}">
			        	<div class="content nopadding" >
			        		<i class="svg-icon github vertCenter" style=""></i>
			        	</div>
		        	</a>
		        	{% endif %}
		        </div>
		    </div>
			-->

		    <!-- Twitter -->
		    <!--
		    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 nopadding">   
		    	<div class="wrapper">
		    		{% if site.footer-links.twitter %}
		    		<a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
			        	<div class="content nopadding" >
			        		<i class="svg-icon twitter vertCenter" ></i>
			        	</div>
		        	</a>
		        	{% endif %}
		        </div>
		    </div>
		    -->

		    <!-- Copyrights -->
		    <!--
			<div class="col-lg-9 col-md-8 col-sm-6 col-xs-6 nopadding" style="text-align:right; background-color:red;">
				
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-4 nopadding">
					<div class="wrapper">
						<div class="content">	
						</div>
					</div>
				</div>
				<p>copyright here</p>
            </div>
        	-->

		</div>
	</div>

</footer>
<!-- FOOTER END -->