<div class="container">
	<footer class="footer">
		<div class="row nopadding">
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-4 nopadding">  
		    	<div class="wrapper">
		    		{% if site.footer-links.email %}
		    		<a href="mailto:{{ site.footer-links.email }}">
			        	<div class="content nopadding" style="background-color:red">
			        		<i class="svg-icon email"></i>
			        	</div>
		        	</a>
		        	{% endif %}
		        </div>
		    </div>
		    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-4 nopadding">  
		    	<div class="wrapper">
		    		{% if site.footer-links.github %}
		    		<a href="https://github.com/{{ site.footer-links.github }}">
			        	<div class="content nopadding" style="background-color:red">
			        		<i class="svg-icon github"></i>
			        	</div>
		        	</a>
		        	{% endif %}
		        </div>
		    </div>
		    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-4 nopadding">  
		    	<div class="wrapper">
		    		{% if site.footer-links.twitter %}
		    		<a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
			        	<div class="content nopadding" style="background-color:red">
			        		<i class="svg-icon twitter"></i>
			        	</div>
		        	</a>
		        	{% endif %}
		        </div>
		    </div>
			<div class="col-md-9 col-md-9 col-sm-6 col-xs-12 nopadding">
                    {% markdown %} {% include copyright.md %} {% endmarkdown %}
            </div>

		</div>
	</footer>
</div>