<!-- 'NAVIGATION' Header Start -->
<div class="container">
  <div class="row nopadding">

    <!-- 'HOME' BtnL-->
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 nopadding" >
      <div class="wrapper" id="btnLHeight">
        <a href="{{ site.baseurl }}/" data-dismiss="modal">
          <div class="content nopadding centerTargetTxt btnLContent" id="setLineHeightHome" >
              <span>
                <h3 class="home-label">
                  <span style="line-height:0.8em;">
                    HART<br>GELD
                  </span>
                </h3>
              </span><!--<h3>{{ site.name }}</h3>-->
          </div>
        </a>
      </div>
    </div>

    <!-- Offset | BtnL <-> BtnR-->
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 nopadding"></div>

         <!-- 'INFO' BtnR-->
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 nopadding">
      <div class="wrapper">
        <a href="#myModal" data-keyboard="true" data-toggle="modal">
          <div class="content nopadding centerTargetTxt btnRContent" id="setLineHeightInfo">
            <span>
              <h3 class="info-label">
                <span style="line-height:0.8em;">
                  IN<br>FO
                </span>
              </h3>
            </span>
          </div>
        </a>        
        {% include modalNav.html %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

        //Get Nav Btn Height
        var divHeight = document.getElementById("btnLHeight").clientHeight;
        
        //Home
        var targetHome = document.getElementById("setLineHeightHome");
        targetHome.style.lineHeight = divHeight + 'px';
        //HomeModal
        var targetHomeModal = document.getElementById("setLineHeightHomeModal");
        targetHomeModal.style.lineHeight = divHeight + 'px';

        //Info
        var targetInfo = document.getElementById("setLineHeightInfo");
        targetInfo.style.lineHeight = divHeight + 'px';
        //InfoModal
        var targetInfoModal = document.getElementById("setLineHeightInfoModal");
        targetInfoModal.style.lineHeight = divHeight + 'px';
        
        //Mail
         var targetMail = document.getElementById("setLineHeightMail");
        targetMail.style.lineHeight = divHeight + 'px';

    </script>
<!-- P5 Logo Integration -->
<!-- <div id="myLogoDimensions"> -->
<!-- <header class="masthead clearfix"><nav> -->
<!-- <img class="site-avatar" src="{{ site.avatar }}" /> -->
<!-- <div id="myNav" ></div> -->