<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    
    <!-- load p5.js stage ani -->
    <script language="javascript" type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/p5.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/p5.dom.js"></script>    
  </head>
  
  <body>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      {% include footer.html %}
    </div>

    {% include analytics.html %}
    {% include bootstrapJavascript.html %}

    <!--Vertical Align Btn:Type on all Screens
    <script type="text/javascript">

        //Get Nav Btn Height
        var divHeight = document.getElementById("btnLHeight").clientHeight;
        
        //Home
        var targetHome = document.getElementById("setLineHeightHome");
        targetHome.style.lineHeight = divHeight + 'px';
        //HomeModal
        var targetHomeModal = document.getElementById("setLineHeightHomeModal");
        targetHomeModal.style.lineHeight = divHeight + 'px';

        //Info
        var targetInfo = document.getElementById("setLineHeightInfo");
        targetInfo.style.lineHeight = divHeight + 'px';
        //InfoModal
        var targetInfoModal = document.getElementById("setLineHeightInfoModal");
        targetInfoModal.style.lineHeight = divHeight + 'px';
        
        //Mail
         var targetMail = document.getElementById("setLineHeightMail");
        targetMail.style.lineHeight = divHeight + 'px';

    </script>
--> 
  </body>
</html>
