---
layout: default
---

	<div class="container">
		<div class="row nopadding">
			<!-- STAGE -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" style="background-image:url({{ page.image }}); background-size:cover;">
				<!-- NAV -->
				<div class="wrapper-masthead">
			        {% include nav.html %} 
			    </div>
			    <div class="clearfix"></div>

				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nopadding">
					<div class="wrapper">
					    <div class="content nopadding">    
					    </div>
			  		</div>
			  	</div>
			</div>  
		</div>
	</div>


<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
<!--  {% include disqus.html %}-->
  {% include bootstrapJavascript.html %}

</article>
